.header {
    padding: 14px 0;
    box-shadow: 0px 0px 6px 0px #000;
}

.header-row {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
}

.header-nav ul {
    display: flex;
    align-items: center;
}

.header-nav li:not(:last-child) {
    margin-right: 85px;
}

.header-nav a {
    padding-bottom: 3px;
}

.header-nav a:hover {
    border-bottom: 2px solid #ff9900;
}

.header-nav a:active {
    color: #ff9900;
    border-bottom: 2px solid #ff9900;
}

.search {
    margin-left: 85px;
    width: 24px;
    height: 24px;
}

.search svg:hover > path {
    stroke: #ff9900;
}

.search svg:hover > rect {
    fill: #ff9900;
}